.product-grid {
    display: grid;
    grid: auto / repeat(5, 1fr);
    grid-gap: 40px 20px;
  }
  
  .grid-item {
    background-color: ivory;
    outline-style: solid;
    outline-width: thin;
    outline-color: black;
    justify-self: center;
    align-self: center;
    text-align: center;
  }
  
  .grid-item img {
    width: 150px;
    height: 150px;
  }